Source: libcamiface
Maintainer: Andrew Straw <strawman@astraw.com>
Section: utils
Priority: extra
Build-Depends: debhelper (>= 7), cmake (>= 2.6),
  libdc1394-22-dev (>= 2.0.2~svn547),
  freeglut3-dev, libxmu-dev, libxi-dev, libglew1.5-dev
Build-Conflicts: libprosilica-gige-dev
Standards-Version: 3.7.3

Package: libcamiface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: coriander
Conflicts: libcamiface-prosilica
Description: cross-platform cross-backend camera driver (library)
 cam_iface is the core package of several in the motmot
 repository that are involved with digital camera acquisition
 and analysis

Package: libcamiface-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libcamiface, camiface
Suggests: coriander
Conflicts: libcamiface-prosilica-dev
Description: cross-platform cross-backend camera driver (development files)
 cam_iface is the core package of several in the motmot
 repository that are involved with digital camera acquisition
 and analysis

Package: camiface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcamiface
Suggests: coriander
Conflicts: camiface-prosilica
Description: cross-platform cross-backend camera utilities
 cam_iface is the core package of several in the motmot
 repository that are involved with digital camera acquisition
 and analysis
