#!/usr/bin/make -f
# from wkhtmltopdf

builddir/Makefile:
	dh_testdir
	mkdir -p builddir
	cd builddir && cmake .. \
		 -DCMAKE_INSTALL_PREFIX=/usr \
		 -DCMAKE_C_FLAGS="$(CFLAGS)" \
		 -DCMAKE_LD_FLAGS="-Wl,-z,defs" \
		 -DCMAKE_CXX_FLAGS="$(CXXFLAGS)" \
		 -DCMAKE_SKIP_RPATH=ON \
		 -DCMAKE_VERBOSE_MAKEFILE=ON

build: build-stamp
build-stamp:  builddir/Makefile
	dh build --before build
	$(MAKE) -C builddir
	dh build --after build
	touch $@

install: build
	dh install

clean:
	rm -f build-stamp
	rm -rf builddir
	dh clean

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
